<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Vehículo</title>
</head>
<body>
    <h1>Crear Vehículo</h1>
    <form method="post">
        {% csrf_token %}
        <label for="placa">Placa:</label>
        <input type="text" name="placa" required>

        <label for="marca">Marca:</label>
        <input type="text" name="marca" required>

        <label for="linea">Línea:</label>
        <input type="text" name="linea" required>

        <label for="modelo">Modelo:</label>
        <input type="text" name="modelo" required>

        <label for "color">Color:</label>
        <input type="text" name="color" requiered>

        <label for="tipo_vehiculo">Tipo de Vehiculo</label>
        <select id="tipo_vehiculo" name="tipo_vehiculo" requiered>
            <option value="" disabled select>Seleccione un tipo</option>
            <option value="AUTOMOVIL">Automovil</option>
            <option value="MOTO">Moto</option>
            <option value="TAXI">Taxi</option>
            <option value="CAMIONETA">Camioneta</option>
            <option value="FURGON">Furgon</option>
            <option value="PICK-UP">Pick-up</option>
        </select>
        <button type="submit">Crear Vehículo</button>
    </form>
</body>
</html>
