<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Cliente</title>
</head>
<body>
    <h1>Crear Cliente</h1>
    <form method="post">
        {% csrf_token %}
        <label for="cedula">Cédula:</label>
        <input type="text" name="cedula" required>

        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" required>

        <label for="s_nombre">Segundo Nombre:</label>
        <input type="text" name="s_nombre">

        <label for="apellido">Apellido:</label>
        <input type="text" name="apellido" required>

        <label for="s_apellido">Segundo Apellido:</label>
        <input type="text" name="s_apellido">

        <label for="celular">Celular:</label>
        <input type="text" name="celular" required>

        <label for="direccion">Dirección:</label>
        <input type="text" name="direccion" required>

        <button type="submit">Crear Cliente</button>
    </form>
</body>
</html>
