{% extends 'layout.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'vehiculos/css/form.css' %}">
<div class="container">
    <h1>Crear Vehículo</h1>
    <form method="post" class="responsive-form">
        {% csrf_token %}

        <div class="form-group">
            <label for="placa">Placa:</label>
            <input type="text" name="placa" required>
        </div>

        <div class="form-group">
            <label for="marca">Marca:</label>
            <input type="text" name="marca" required>
        </div>

        <div class="form-group">
            <label for="linea">Línea:</label>
            <input type="text" name="linea" required>
        </div>

        <div class="form-group">
            <label for="modelo">Modelo:</label>
            <input type="text" name="modelo" required>
        </div>

        <div class="form-group">
            <label for="color">Color:</label>
            <input type="text" name="color" required>
        </div>

        <div class="form-group">
            <label for="tipo_vehiculo">Tipo de Vehículo:</label>
            <select id="tipo_vehiculo" name="tipo_vehiculo" required>
                <option value="" disabled selected>Seleccione un tipo</option>
                <option value="AUTOMOVIL">Automóvil</option>
                <option value="MOTO">Moto</option>
                <option value="TAXI">Taxi</option>
                <option value="CAMIONETA">Camioneta</option>
                <option value="FURGON">Furgón</option>
                <option value="PICK-UP">Pick-up</option>
            </select>
        </div>

        <button type="submit">Crear Vehículo</button>
    </form>
</div>
{% endblock %}
