{% extends 'base.html' %}
{% block title %}Agregar Documentos{% endblock %}

{% block content %}
<div class="container">
  <h1>Agregar Documentos</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      {{ form.placa.label_tag }} <!-- Campo para la placa -->
      {{ form.placa }}
      {{ form.placa.errors }}
    </div>
    {% for field in form %}
      {% if field.name != 'placa' %} <!-- Excluimos el campo id_placa -->
        <div class="form-group">
          {{ field.label_tag }}
          {{ field }}
          {{ field.errors }}
        </div>
      {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>
{% endblock %}