{% extends 'base.html' %}

{% block title %}Editar Vehículo{% endblock %}

{% block content %}
<div class="recent-orders">
    <div class="vehicle_search">
        <h1>Editar Vehículo: {{ vehiculo.placa }}</h1>
        
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Renderizamos el formulario -->

            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <a href="{% url 'vehiculos:lista_vehiculos' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
