{% extends 'base.html' %} {% block title %}Eliminar Presupuesto{% endblock %}
{% block content %}
<div class="container">
  <h1>Eliminar Presupuesto</h1>
  <p>
    ¿Estás seguro de que deseas eliminar el presupuesto con el valor {{
    presupuesto.valor_p }}?
  </p>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="{% url 'vehiculos:lista_presupuestos' %}" class="btn btn-secondary"
      >Cancelar</a
    >
  </form>
</div>
{% endblock %}
