{% extends 'base.html' %}

{% block title %}Lista de Documentos{% endblock %}

{% block content %}
<div class="recent-orders">
  <div class="vehicle_search">
      <h1>Lista de Documentos</h1>
      <a href="{% url 'vehiculos:agregar_documentos' %}" class="btn btn-primary">Agregar Documentos</a>

      <table class="table">
        <thead>
            <tr>
                <th>Placa</th>
                <th>Número de Orden</th>
                <th>Empresa Afiliadora</th>
                <th>Número Tarjeta de Operación</th>
                <th>Fecha Expedición TO</th>
                <th>Fecha Vencimiento TO</th>
                <th>Fecha Expedición SOAT</th>
                <th>Fecha Vencimiento SOAT</th>
                <th>Fecha Expedición Tecnomecánica</th>
                <th>Fecha Vencimiento Tecnomecánica</th>
                <th>Fecha Expedición SRC</th>
                <th>Fecha Vencimiento SRC</th>
                <th>Acciones</th> <!-- Nueva columna -->
            </tr>
        </thead>
        <tbody>
            {% if documentos %}
                {% for documento in documentos %}
                <tr>
                    <td>{{ documento.id_placa.placa }}</td>
                    <td>{{ documento.n_orden }}</td>
                    <td>{{ documento.emp_afiliadora }}</td>
                    <td>{{ documento.n_tarjeta_operacion }}</td>
                    <td>{{ documento.fecha_expedicion_to }}</td>
                    <td>{{ documento.fecha_vencimiento_to }}</td>
                    <td>{{ documento.fecha_expedicion_soat }}</td>
                    <td>{{ documento.fecha_vencimiento_soat }}</td>
                    <td>{{ documento.fecha_expedicion_tecno }}</td>
                    <td>{{ documento.fecha_vencimiento_tecno }}</td>
                    <td>{{ documento.fecha_expedicion_sRc }}</td>
                    <td>{{ documento.fecha_vencimiento_sRc }}</td>
                    <td>
                        <!-- Botón Editar -->
                        <a href="{% url 'vehiculos:editar_documentos' documento.id %}" class="btn btn-primary btn-sm">Editar</a>

                        <!-- Botón Eliminar -->
                        <form action="{% url 'vehiculos:eliminar_documentos' documento.id %}" method="POST" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar este documento?')">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="13">No hay documentos disponibles.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}
