{% load humanize %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario de Compra</title>
    <style>
      @page {
        size: legal; /* Tamaño del papel */
        margin: 5mm 10mm; /* Márgenes de la página */
      }

      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        font-size: 8pt; /* Tamaño del texto ajustado a 5pt */
        line-height: 1.2;
      }

      table {
        page-break-inside: avoid; /* Evita que las tablas se dividan entre páginas */
        width: 100%;
        font-size: 6.5pt; /* Tamaño del texto dentro de la tabla */
        border-collapse: collapse;
      }

      p,
      ul,
      table {
        page-break-after: auto; /* Permite que el contenido se divida entre páginas */
        page-break-before: auto;
        page-break-inside: avoid;
        font-size: 10px; /* Aplicar tamaño de texto a párrafos, listas y tablas */
        margin: 2px;
        text-align: justify;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        page-break-after: avoid; /* Evitar que los encabezados queden divididos en dos páginas */
        margin-top: 0;
        font-size: 6.5pt; /* Ajustar el tamaño de los encabezados a 5pt */
      }

      td {
        border: 1px solid black;
        text-align: center;
        padding: 5px; /* Agregar espacio para mayor legibilidad */
        font-size: 6.5pt; /* Ajustar el tamaño del texto en celdas */
      }

      tr,
      td {
        page-break-inside: avoid; /* Evita que filas y celdas se dividan */
        font-size: 6.5pt;
      }

      .header-title {
        width: 150px;
        font-weight: bold;
        text-align: left;
        font-size: 6.5pt;
      }

      .header-row {
        height: 25px;
        font-size: 6.5pt;
        font-weight: bold;
      }

      table tr td.clase-vehiculo {
        border: none;
        text-align: left;
        padding: 0px;
        font-size: 6.5pt;
      }

      #signature-table {
        width: 100%;
        font-size: 6.5pt;
      }

      .p-footer-table {
        font-weight: bold;
        font-size: 6.5pt;
      }

      .content {
        width: 400px;
        height: auto; /* Ajustar automáticamente la altura según el contenido */
        text-align: left;
        font-size: 6.5pt;
      }

      .borde {
        margin-right: 10%;
        height: 70px;
        width: 60px;
        vertical-align: top;
        /* background-color: black; */
        border: 4px solid black;
        align-items: center;
        font-size: 6.5pt;
      }

      .huella {
        height: 70px;
        width: 60px;
        background-color: white;
        font-size: 6.5pt;
      }

      .texto_huella {
        margin-top: 5px;
        font-size: 6.5pt;
      }

      .informacion {
        padding-top: 10px;
        margin-bottom: 10px; /* Agregar espacio entre secciones de información */
        font-size: 6.5pt;
      }

      .informacion p {
        padding: 0;
        margin: 0;
        font-size: 6.5pt;
      }

      .signes {
        display: inline-grid;
        font-size: 6.5pt;
        grid-template-columns: repeat(
          2,
          1fr
        ); /* Dos columnas de igual tamaño */
        gap: 5px; /* Espacio entre los elementos */
        width: 1px;
        height: 1px;
      }

      .signe-cont {
        display: flex;
        font-size: 6.5pt;
        width: 355px;
        height: 98px;
      }

      .claus-list {
        list-style: num;
      }

      /* Ajustar la paginación en tablas largas */
      table.long-table {
        page-break-after: always;
        font-size: 6.5pt;
      }

      /* Forzar salto de página para secciones importantes */
      .page-break {
        page-break-before: always;
        font-size: 6.5pt;
      }
      .justificado {
        text-align: justify; /* Justificación del texto */
      }
      .primer-espacio{
        margin-top: 8px;
      }
      .inline-container p {
        display: inline;
      }
    </style>
  </head>
  <body>
    <table>
      <!-- Primera parte: Fecha, Elaboro, Reviso, Asesor, Refiero -->
      <tr>
        <td rowspan="2" class="header-title">CONTRATO PERMUTA</td>
        <td class="header-row">Fecha:</td>
        <td class="header-row">Elaboro:</td>
        <td class="header-row">Reviso:</td>
        <td class="header-row">Asesor:</td>
        <td class="header-row">Refiere:</td>
        <td rowspan="2" class="header-row">
          <div>Código: SGC/CCC</div>
          <div>Versión: 03</div>
          <div>Fecha: 21/01/2020</div>
        </td>
      </tr>
      <tr>
        <td><strong>{{ fecha_hoy }}</strong></td>
          <!-- Fecha espacio -->
          <td><strong>{{ nombre_usuario.first_name }} {{ nombre_usuario.last_name }}</strong></td>
          <!-- Elaboro espacio -->
          <td><strong>WILSON BERNAL<strong></td>
          <!-- Reviso espacio -->
          {% if not (nombre_usuario.first_name|lower == "juliana" and nombre_usuario.last_name|lower == "montoya") %}
            <td><strong>{{ nombre_usuario.first_name }} {{ nombre_usuario.last_name }}</strong></td>
        {% else %}
            <td></td>
        {% endif %}
          <!-- Asesor espacio -->
          <td><strong>{{refiere}}</strong></td>
        <!-- Refiere espacio -->
      </tr>
    </table>
    <p style="font-size: 18px; text-align: center;"><strong>CONTRATO DE PERMUTA DE VEH&Iacute;CULOS AUTOMOTORES</strong></p>
    <p>
      <strong>LUGAR CELEBRACI&Oacute;N DEL CONTRATO: BOGOT&Aacute; D.C.</strong>
    </p>
    {% if persona == "Natural" %}
          {% if vendedores == "1" %}
          <!-- Información del Vendedor (solo 1) -->
          <div class="inline-container primer-espacio">
              <p>PRIMER PERMUTANTE:</p><p style="margin-left: 48px;">{{ usuario1.nombre }} {{ usuario1.p_apellido }} {{ usuario1.s_apellido }}</p><br>
              <p>IDENTIFICACIÓN:</p><p style="margin-left: 76px;">C.C. No. {{ usuario1.cedula }} de {{usuario1.ciudad_exp}}</p><br>
              <p>DOMICILIO CONTRACTUAL:</p><p style="margin-left: 27px;">{{ usuario1.direccion }}</p><br>
              <p>BARRIO:</p><p style="margin-left: 119px;">{{ usuario1.barrio }}</p><br>
              <p>CIUDAD:</p><p style="margin-left: 119px;">{{ usuario1.ciudad }}</p><br>
              <p>TELÉFONO:</p><p style="margin-left: 104px;">{{ usuario1.telefono }}</p><br>
              <p>CORREO ELECTRÓNICO:</p><p style="margin-left: 39px;">{{ usuario1.correo }}</p>
          </div>
          <div class="inline-container primer-espacio">
            <p>SEGUNDO PERMUTANTE:</p><p style="margin-left: 35px;">{{ usuario2.nombre }} {{ usuario2.p_apellido }} {{ usuario2.s_apellido }}</p><br>
            <p>IDENTIFICACIÓN:</p><p style="margin-left: 76px;">C.C. No. {{ usuario2.cedula }} de {{usuario2.ciudad_exp}}</p><br>
            <p>DOMICILIO CONTRACTUAL:</p><p style="margin-left: 27px;">{{ usuario2.direccion }}</p><br>
            <p>BARRIO:</p><p style="margin-left: 119px;">{{ usuario2.barrio }}</p><br>
            <p>CIUDAD:</p><p style="margin-left: 119px;">{{ usuario2.ciudad }}</p><br>
            <p>TELÉFONO:</p><p style="margin-left: 104px;">{{ usuario2.telefono }}</p><br>
            <p>CORREO ELECTRÓNICO:</p><p style="margin-left: 39px;">{{ usuario2.correo }}</p>
        </div>
      {% elif vendedores == "2" %}
          <!-- Información del Vendedor 1 -->
          <div class="inline-container primer-espacio">
              <p>PRIMER PERMUTANTE:</p><p style="margin-left: 48px;">{{ usuario1.nombre }} {{ usuario1.p_apellido }} {{ usuario1.s_apellido }}</p><br>
              <p>IDENTIFICACIÓN:</p><p style="margin-left: 76px;">C.C. No. {{ usuario1.cedula }} de {{usuario1.ciudad_exp}}</p><br>
              <p>DOMICILIO CONTRACTUAL:</p><p style="margin-left: 27px;">{{ usuario1.direccion }}</p><br>
              <p>BARRIO:</p><p style="margin-left: 119px;">{{ usuario1.barrio }}</p><br>
              <p>CIUDAD:</p><p style="margin-left: 119px;">{{ usuario1.ciudad }}</p><br>
              <p>TELÉFONO:</p><p style="margin-left: 104px;">{{ usuario1.telefono }}</p><br>
              <p>CORREO ELECTRÓNICO:</p><p style="margin-left: 39px;">{{ usuario1.correo }}</p>
          </div>
          <div class="inline-container primer-espacio">
            <p>PRIMER PERMUTANTE:</p><p style="margin-left: 48px;">{{ usuario3.nombre }} {{ usuario3.p_apellido }} {{ usuario3.s_apellido }}</p><br>
            <p>IDENTIFICACIÓN:</p><p style="margin-left: 76px;">C.C. No. {{ usuario3.cedula }} de {{usuario3.ciudad_exp}}</p><br>
            <p>DOMICILIO CONTRACTUAL:</p><p style="margin-left: 27px;">{{ usuario3.direccion }}</p><br>
            <p>BARRIO:</p><p style="margin-left: 119px;">{{ usuario3.barrio }}</p><br>
            <p>CIUDAD:</p><p style="margin-left: 119px;">{{ usuario3.ciudad }}</p><br>
            <p>TELÉFONO:</p><p style="margin-left: 104px;">{{ usuario3.telefono }}</p><br>
            <p>CORREO ELECTRÓNICO:</p><p style="margin-left: 39px;">{{ usuario3.correo }}</p>
        </div>

        <div class="inline-container primer-espacio">
          <p>SEGUNDO PERMUTANTE:</p><p style="margin-left: 35px;">{{ usuario2.nombre }} {{ usuario2.p_apellido }} {{ usuario2.s_apellido }}</p><br>
          <p>IDENTIFICACIÓN:</p><p style="margin-left: 76px;">C.C. No. {{ usuario2.cedula }} de {{usuario2.ciudad_exp}}</p><br>
          <p>DOMICILIO CONTRACTUAL:</p><p style="margin-left: 27px;">{{ usuario2.direccion }}</p><br>
          <p>BARRIO:</p><p style="margin-left: 119px;">{{ usuario2.barrio }}</p><br>
          <p>CIUDAD:</p><p style="margin-left: 119px;">{{ usuario2.ciudad }}</p><br>
          <p>TELÉFONO:</p><p style="margin-left: 104px;">{{ usuario2.telefono }}</p><br>
          <p>CORREO ELECTRÓNICO:</p><p style="margin-left: 39px;">{{ usuario2.correo }}</p>
      </div>
        {% elif compradores == "1" %}
            <!-- Información del Comprador (solo 1) -->
            <div class="inline-container primer-espacio">
              <p>PRIMER PERMUTANTE:</p><p style="margin-left: 48px;">{{ usuario1.nombre }} {{ usuario1.p_apellido }} {{ usuario1.s_apellido }}</p><br>
              <p>IDENTIFICACIÓN:</p><p style="margin-left: 76px;">C.C. No. {{ usuario1.cedula }} de {{usuario1.ciudad_exp}}</p><br>
              <p>DOMICILIO CONTRACTUAL:</p><p style="margin-left: 27px;">{{ usuario1.direccion }}</p><br>
              <p>BARRIO:</p><p style="margin-left: 119px;">{{ usuario1.barrio }}</p><br>
              <p>CIUDAD:</p><p style="margin-left: 119px;">{{ usuario1.ciudad }}</p><br>
              <p>TELÉFONO:</p><p style="margin-left: 104px;">{{ usuario1.telefono }}</p><br>
              <p>CORREO ELECTRÓNICO:</p><p style="margin-left: 39px;">{{ usuario1.correo }}</p>
          </div>
            <div class="inline-container primer-espacio">
                <p>SEGUNDO PERMUTANTE:</p><p style="margin-left: 35px;">{{ usuario2.nombre }} {{ usuario2.p_apellido }} {{ usuario2.s_apellido }}</p><br>
                <p>IDENTIFICACIÓN:</p><p style="margin-left: 76px;">C.C. No. {{ usuario2.cedula }} de {{usuario2.ciudad_exp}}</p><br>
                <p>DOMICILIO CONTRACTUAL:</p><p style="margin-left: 27px;">{{ usuario2.direccion }}</p><br>
                <p>BARRIO:</p><p style="margin-left: 119px;">{{ usuario2.barrio }}</p><br>
                <p>CIUDAD:</p><p style="margin-left: 119px;">{{ usuario2.ciudad }}</p><br>
                <p>TELÉFONO:</p><p style="margin-left: 104px;">{{ usuario2.telefono }}</p><br>
                <p>CORREO ELECTRÓNICO:</p><p style="margin-left: 39px;">{{ usuario2.correo }}</p>
            </div>
        {% elif compradores == "2" %}
            <!-- Información del Comprador 1 -->
            <div class="inline-container primer-espacio">
              <p>PRIMER PERMUTANTE:</p><p style="margin-left: 48px;">{{ usuario1.nombre }} {{ usuario1.p_apellido }} {{ usuario1.s_apellido }}</p><br>
              <p>IDENTIFICACIÓN:</p><p style="margin-left: 76px;">C.C. No. {{ usuario1.cedula }} de {{usuario1.ciudad_exp}}</p><br>
              <p>DOMICILIO CONTRACTUAL:</p><p style="margin-left: 27px;">{{ usuario1.direccion }}</p><br>
              <p>BARRIO:</p><p style="margin-left: 119px;">{{ usuario1.barrio }}</p><br>
              <p>CIUDAD:</p><p style="margin-left: 119px;">{{ usuario1.ciudad }}</p><br>
              <p>TELÉFONO:</p><p style="margin-left: 104px;">{{ usuario1.telefono }}</p><br>
              <p>CORREO ELECTRÓNICO:</p><p style="margin-left: 39px;">{{ usuario1.correo }}</p>
          </div>
            <div class="inline-container primer-espacio">
                <p>SEGUNDO PERMUTANTE:</p><p style="margin-left: 35px;">{{ usuario2.nombre }} {{ usuario2.p_apellido }} {{ usuario2.s_apellido }}</p><br>
                <p>IDENTIFICACIÓN:</p><p style="margin-left: 76px;">C.C. No. {{ usuario2.cedula }} de {{ usuario2.ciudad_exp }}</p><br>
                <p>DOMICILIO CONTRACTUAL:</p><p style="margin-left: 27px;">{{ usuario2.direccion }}</p><br>
                <p>BARRIO:</p><p style="margin-left: 119px;">{{ usuario2.barrio }}</p><br>
                <p>CIUDAD:</p><p style="margin-left: 119px;">{{ usuario2.ciudad }}</p><br>
                <p>TELÉFONO:</p><p style="margin-left: 104px;">{{ usuario2.telefono }}</p><br>
                <p>CORREO ELECTRÓNICO:</p><p style="margin-left: 39px;">{{ usuario2.correo }}</p>
            </div>
    
            <!-- Información del Comprador 2 -->
            <div class="inline-container primer-espacio">
                <p>SEGUNDO PERMUTANTE:</p><p style="margin-left: 35px;">{{ usuario4.nombre }} {{ usuario4.p_apellido }} {{ usuario4.s_apellido }}</p><br>
                <p>IDENTIFICACIÓN:</p><p style="margin-left: 76px;">C.C. No. {{ usuario4.cedula }} de {{usuario4.ciudad_exp}}</p><br>
                <p>DOMICILIO CONTRACTUAL:</p><p style="margin-left: 27px;">{{ usuario4.direccion }}</p><br>
                <p>BARRIO:</p><p style="margin-left: 119px;">{{ usuario4.barrio }}</p><br>
                <p>CIUDAD:</p><p style="margin-left: 119px;">{{ usuario4.ciudad }}</p><br>
                <p>TELÉFONO:</p><p style="margin-left: 104px;">{{ usuario4.telefono }}</p><br>
                <p>CORREO ELECTRÓNICO:</p><p style="margin-left: 39px;">{{ usuario4.correo }}</p>
            </div>
        {% endif %}
    {% elif persona == "Juridica" %}
        {% if tipo_juridica == "Comprador" %}
            <div class="inline-container primer-espacio">
                <p>PRIMER PERMUTANTE:</p><p style="margin-left: 48px;">{{ usuario1.nombre }} {{ usuario1.p_apellido }} {{ usuario1.s_apellido }}</p><br>
                <p>IDENTIFICACIÓN:</p><p style="margin-left: 76px;">C.C. No. {{ usuario1.cedula }} de {{usuario1.ciudad_exp}}</p><br>
                <p>DOMICILIO CONTRACTUAL:</p><p style="margin-left: 27px;">{{ usuario1.direccion }}</p><br>
                <p>BARRIO:</p><p style="margin-left: 119px;">{{ usuario1.barrio }}</p><br>
                <p>CIUDAD:</p><p style="margin-left: 119px;">{{ usuario1.ciudad }}</p><br>
                <p>TELÉFONO:</p><p style="margin-left: 104px;">{{ usuario1.telefono }}</p><br>
                <p>CORREO ELECTRÓNICO:</p><p style="margin-left: 39px;">{{ usuario1.correo }}</p>
            </div>
            <div class="inline-container primer-espacio">
                <p>NOMBRE:</p><p style="margin-left: 110px;"> {{ nombre }}</p><br>
                <p>NIT:</p><p style="margin-left: 140px;"> {{ nit }}</p><br>
                <p>SEGUNDO PERMUTANTE:</p><p style="margin-left: 35px;">{{ usuario2.nombre }} {{ usuario2.p_apellido }} {{ usuario2.s_apellido }}</p><br>
                <p>IDENTIFICACIÓN:</p><p style="margin-left: 76px;">C.C. No. {{ usuario2.cedula }} de {{usuario2.ciudad_exp}}</p><br>
                <p>DOMICILIO CONTRACTUAL:</p><p style="margin-left: 27px;">{{ usuario2.direccion }}</p><br>
                <p>BARRIO:</p><p style="margin-left: 119px;">{{ usuario2.barrio }}</p><br>
                <p>CIUDAD:</p><p style="margin-left: 119px;">{{ usuario2.ciudad }}</p><br>
                <p>TELÉFONO:</p><p style="margin-left: 104px;">{{ usuario2.telefono }}</p><br>
                <p>CORREO ELECTRÓNICO:</p><p style="margin-left: 39px;">{{ usuario2.correo }}</p>
            </div>
        {% elif tipo_juridica == "Vendedor" %}
            <div class="inline-container primer-espacio">
                <p>NOMBRE:</p><p style="margin-left: 110px;"> {{ nombre }}</p><br>
                <p>NIT:</p><p style="margin-left: 140px;"> {{ nit }}</p><br>
                <p>PRIMER PERMUTANTE:</p><p style="margin-left: 48px;">{{ usuario1.nombre }} {{ usuario1.p_apellido }} {{ usuario1.s_apellido }}</p><br>
                <p>IDENTIFICACIÓN:</p><p style="margin-left: 76px;">C.C. No. {{ usuario1.cedula }} de {{usuario1.ciudad_exp}}</p><br>
                <p>DOMICILIO CONTRACTUAL:</p><p style="margin-left: 27px;">{{ usuario1.direccion }}</p><br>
                <p>BARRIO:</p><p style="margin-left: 119px;">{{ usuario1.barrio }}</p><br>
                <p>CIUDAD:</p><p style="margin-left: 119px;">{{ usuario1.ciudad }}</p><br>
                <p>TELÉFONO:</p><p style="margin-left: 104px;">{{ usuario1.telefono }}</p><br>
                <p>CORREO ELECTRÓNICO:</p><p style="margin-left: 39px;">{{ usuario1.correo }}</p>
            </div>
            <div class="inline-container primer-espacio">
                <p>SEGUNDO PERMUTANTE:</p><p style="margin-left: 35px;">{{ usuario2.nombre }} {{ usuario2.p_apellido }} {{ usuario2.s_apellido }}</p><br>
                <p>IDENTIFICACIÓN:</p><p style="margin-left: 76px;">C.C. No. {{ usuario2.cedula }} de {{usuario2.ciudad_exp}}</p><br>
                <p>DOMICILIO CONTRACTUAL:</p><p style="margin-left: 27px;">{{ usuario2.direccion }}</p><br>
                <p>BARRIO:</p><p style="margin-left: 119px;">{{ usuario2.barrio }}</p><br>
                <p>CIUDAD:</p><p style="margin-left: 119px;">{{ usuario2.ciudad }}</p><br>
                <p>TELÉFONO:</p><p style="margin-left: 104px;">{{ usuario2.telefono }}</p><br>
                <p>CORREO ELECTRÓNICO:</p><p style="margin-left: 39px;">{{ usuario2.correo }}</p>
            </div>
        {% endif %}
    {% endif %}
    
    <p style="text-align: justify; font-size: 13px;" class="primer-espacio">
      Las partes convienen celebrar el presente contrato de permuta, que se
      regir&aacute; por las anteriores estipulaciones, las normas aplicables a
      la materia y en especial por las siguientes cl&aacute;usulas:
    </p>
    <p style="text-align: justify; font-size: 13px;">
      <strong>PRIMERA - Objeto del negocio: </strong>mediante el presente
      contrato, EL, (LOS) PRIMER PERMUTANTE (ES) transfiere (n) a t&iacute;tulo
      de venta y EL (LOS) SEGUNDO PERMUTANTE (ES) adquiere (n) la propiedad del
      veh&iacute;culo automotor con cupo que a continuaci&oacute;n se
      identifica:
    </p>
    <table class="primer-espacio">
      <tbody>
        <tr>
          <td width="279" class="clase-vehiculo">
            <p>CLASE: {{ vehiculo.clase }}</p>
          </td>
          <td width="184" class="clase-vehiculo">
            <p>MARCA: {{ vehiculo.marca }}</p>
          </td>
          <td width="215" class="clase-vehiculo">
            <p>MODELO: {{ vehiculo.modelo }}</p>
          </td>
        </tr>
        <tr>
          <td width="279" class="clase-vehiculo">
            <p>CHASIS: {{ vehiculo.n_chasis }}</p>
          </td>
          <td width="184" class="clase-vehiculo">
            <p>L&Iacute;NEA: {{ vehiculo.linea }}</p>
          </td>
          <td width="215" class="clase-vehiculo">
            <p>MOTOR: {{ vehiculo.n_motor }}</p>
          </td>
        </tr>
        <tr>
          <td width="279" class="clase-vehiculo">
            <p>TIPO DE CARROCER&Iacute;A: {{ vehiculo.tipo_carroceria }}</p>
          </td>
          <td width="184" class="clase-vehiculo">
            <p>COLOR: {{ vehiculo.color }}</p>
          </td>
          <td width="215" class="clase-vehiculo">
            <p>PUERTAS: {{ vehiculo.puertas }}</p>
          </td>
        </tr>
        <tr>
          <td width="279" class="clase-vehiculo">
            <p>CAPACIDAD: {{ vehiculo.capacidad }}</p>
          </td>
          <td width="184" class="clase-vehiculo">
            <p>SERVICIO: {{ vehiculo.tipo_servicio }}</p>
          </td>
          <td width="215" class="clase-vehiculo">
            <p>SERIE/VIN: {{ vehiculo.n_vin }}</p>
          </td>
        </tr>
        <tr>
          <td width="279" class="clase-vehiculo">
            <p>ACTA O MANIFIESTO: {{ vehiculo.n_acta_matricula }}</p>
          </td>
          <td width="184" class="clase-vehiculo">
            <p>FECHA: {{ vehiculo.fecha_matricula|date:"d/m/Y" }}</p>
          </td>
          <td width="215" class="clase-vehiculo">
            <p>CIUDAD: {{ vehiculo.ciudad_vehiculo }}</p>
          </td>
        </tr>
        <tr>
          <td width="279" class="clase-vehiculo">
            <p>SITIO DE MATR&Iacute;CULA: {{ vehiculo.sitio_matricula }}</p>
          </td>
          <td width="184" class="clase-vehiculo">
            <p>PLACA No.: {{ vehiculo.placa }}</p>
          </td>
          <td width="215" class="clase-vehiculo">
            <p>No. ORDEN: {{ documento.n_orden }}</p>
          </td>
        </tr>
        <tr>
          <td width="279" class="clase-vehiculo">
            <p>EMP AFILIADORA: {{ documento.emp_afiliadora }}</p>
          </td>
          <td width="184" class="clase-vehiculo">
            <p>TRJTA/OP: {{ documento.n_tarjeta_operacion }}</p>
          </td>
          <td width="215" class="clase-vehiculo">
            <p>VENCE: {{ documento.fecha_vencimiento_to|date:"d/m/Y" }} </p>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="primer-espacio" style="font-size: 13px;">
      EL, (LOS) SEGUNDO(S) PERMUTANTE (S) transfiere (n) a t&iacute;tulo de
      venta y EL (LOS) PRIMER (OS) PERMUTANTE (ES) adquiere (n) la propiedad del
      veh&iacute;culo automotor con cupo que a continuaci&oacute;n se
      identifica:
    </p>
    <table class="primer-espacio">
      <tbody>
        <tr>
          <td width="279" class="clase-vehiculo">
            <p>CLASE: {{ vehiculo2.clase }}</p>
          </td>
          <td width="184" class="clase-vehiculo">
            <p>MARCA: {{ vehiculo2.marca }}</p>
          </td>
          <td width="215" class="clase-vehiculo">
            <p>MODELO: {{ vehiculo2.modelo }}</p>
          </td>
        </tr>
        <tr>
          <td width="279" class="clase-vehiculo">
            <p>CHASIS: {{ vehiculo2.n_chasis }}</p>
          </td>
          <td width="184" class="clase-vehiculo">
            <p>L&Iacute;NEA: {{ vehiculo2.linea }}</p>
          </td>
          <td width="215" class="clase-vehiculo">
            <p>MOTOR: {{ vehiculo2.n_motor }}</p>
          </td>
        </tr>
        <tr>
          <td width="279" class="clase-vehiculo">
            <p>TIPO DE CARROCER&Iacute;A: {{ vehiculo2.tipo_carroceria }}</p>
          </td>
          <td width="184" class="clase-vehiculo">
            <p>COLOR: {{ vehiculo2.color }}</p>
          </td>
          <td width="215" class="clase-vehiculo">
            <p>PUERTAS: {{ vehiculo2.puertas }}</p>
          </td>
        </tr>
        <tr>
          <td width="279" class="clase-vehiculo">
            <p>CAPACIDAD: {{ vehiculo2.capacidad }}</p>
          </td>
          <td width="184" class="clase-vehiculo">
            <p>SERVICIO: {{ vehiculo2.tipo_servicio }}</p>
          </td>
          <td width="215" class="clase-vehiculo">
            <p>SERIE/VIN: {{ vehiculo2.n_vin }}</p>
          </td>
        </tr>
        <tr>
          <td width="279" class="clase-vehiculo">
            <p>ACTA O MANIFIESTO: {{ vehiculo2.n_acta_matricula }}</p>
          </td>
          <td width="184" class="clase-vehiculo">
            <p>FECHA: {{ vehiculo2.fecha_matricula }}</p>
          </td>
          <td width="215" class="clase-vehiculo">
            <p>CIUDAD: {{ vehiculo2.ciudad_vehiculo }}</p>
          </td>
        </tr>
        <tr>
          <td width="279" class="clase-vehiculo">
            <p>SITIO DE MATR&Iacute;CULA: {{ vehiculo2.sitio_matricula }}</p>
          </td>
          <td width="184" class="clase-vehiculo">
            <p>PLACA No.: {{ vehiculo2.placa }}</p>
          </td>
          <td width="215" class="clase-vehiculo">
            <p>No. ORDEN: {{ documento2.n_orden }}</p>
          </td>
        </tr>
        <tr>
          <td width="279" class="clase-vehiculo">
            <p>EMP AFILIADORA: {{ documento2.emp_afiliadora }}</p>
          </td>
          <td width="184" class="clase-vehiculo">
            <p>TRJTA/OP: {{ documento2.n_tarjeta_operacion }}</p>
          </td>
          <td width="215" class="clase-vehiculo">
            <p>VENCE: {{ documento2.fecha_vencimiento_to|date:"d/m/Y" }} </p>
          </td>
        </tr>
      </tbody>
    </table>
    <p style="text-align: justify; font-size: 13px;" class="primer-espacio">
      <strong>CLAUSULA SEGUNDA. PRECIO.- </strong>EL SEGUNDO PERMUTANTE
      transfiere a t&iacute;tulo de venta al PRIMER PERMUTANTE un
      veh&iacute;culo tipo taxi&nbsp; marca {{ vehiculo2.marca }}, l&iacute;nea {{ vehiculo2.linea }}, modelos
      {{ vehiculo2.modelo }} nuevo, por un valor de {{ v_primer_vehiculo_letras }} DE PESOS MCTE
      (${{ v_primer_vehiculo }}) del cual el PRIMER PERMUTANTE entrega al SEGUNDO PERMUTANTE
      en parte de pago, un veh&iacute;culo tipo taxi marca {{ vehiculo.marca }} de placas {{ vehiculo.placa }}
      por un valor de {{ v_segundo_vehiculo_letras }} DE PESOS M/CTE (${{ v_segundo_vehiculo }}),
      m&aacute;s un pago adicional de {{ p_adicional_letras }} DE PESOS MCTE
      (${{ p_adicional }}).&nbsp; 
    </p>
    <p style="text-align: justify; font-size: 13px;">
      <strong>CLAUSULA TERCERA.- FECHA Y FORMA DE PAGO: </strong>El primer
      permutante se compromete a pagar el precio a que se refiere la
      cl&aacute;usula anterior de la siguiente forma:
      ----------------------------------------------
    </p>
    <ul style="text-align: justify; font-size: 13px;" class="claus-list">
      {% for tercera in tercera %}
          <li>
              {{ tercera.texto }}
          </li>
      {% endfor %}
    </ul>
    <p style="text-align: justify; font-size: 13px;">
      Los pagos deben hacerse con cheque de gerencia a nombre de TAXI CUPOS
      S.A.S. con Nit. 900486003-2, consignaci&oacute;n o transferencia a la
      cuenta corriente No.
      <strong>007269996471 del banco DAVIVIENDA</strong> y/o a la cuenta
      corriente. No. <strong>67924347842 de Bancolombia</strong>. A nombre de
      TAXI CUPOS S.A.S. identificada con Nit. 900486003-2, o a donde designe la empresa TAXI CUPOS SAS a
      trav&eacute;s de su representante. El comprador de realizar transferencia
      o consignaci&oacute;n deber&aacute; emitir el soporte de pago al correo
      <a href="mailto:subgerencia@taxicupos.com.co"
        >subgerencia@taxicupos.com.co</a
      >&nbsp; y
      <a href="mailto:jefecomercial@taxicupos.com.co"
        >jefecomercial@taxicupos.com.co</a
      >&nbsp; para realizar la respectiva aplicaci&oacute;n.
      
    </p>
    <p style="font-size: 13px;"><strong>CUARTA - OBLIGACIONES DEL (LOS) PERMUTANTE(S): </strong>EL (LOS) PRIMER(OS) PERMUTANTE(S) hace(n) entrega del (los)
      veh&iacute;culo(s) en buen estado, libre de grav&aacute;menes, embargos,
      multas, impuestos, comparendos de tr&aacute;nsito, administrativos y/o
      accidentes pactos de reserva de dominio y cualquier vicio u otra
      circunstancia que afecte el libre comercio del bien objeto del presente
      contrato. Incluyendo estar al d&iacute;a con la Revisi&oacute;n
      T&eacute;cnico Mec&aacute;nica requerida por las autoridades y el seguro
      obligatorio soat, estar a paz y salvo por todo concepto con movilidad por
      accidentes de tr&aacute;nsito y comparendos administrativos Igualmente, EL
      SEGUNDO PERMUTANTE se obliga a realizar las gestiones de traspaso ante las
      autoridades de tr&aacute;nsito dentro de los {{ cuarta_clausula_letras }} ({{ cuarta_clausula }}) d&iacute;as
      calendario posteriores al estar cancelado el veh&iacute;culo marca {{vehiculo2.marca}},
      modelo {{vehiculo2.modelo}} y l&iacute;nea {{vehiculo2.linea}} en su totalidad y al estar el
      veh&iacute;culo de placas {{vehiculo.placa}} a paz y salvo por todo concepto con
      movilidad por accidentes de tr&aacute;nsito y comparendos administrativos.
      
    </p>
    <p style="text-align: justify; font-size: 13px;">
      <strong>QUINTA - ENTREGA: </strong>En la fecha, EL (LOS) PRIMER (OS)
      PERMUTANTE (S) hace (n) entrega material del veh&iacute;culo objeto del
      presente contrato a EL (LOS) SEGUNDO(S) PERMUTANTE (S), en el estado visto
      con los elementos que constan en inventario firmado por las partes y este
      (os) as&iacute; lo acepta (n) y declara (n) que conoce (n) el estado en el
      que se encuentra el bien objeto de este contrato.
      
    </p>
    <p style="text-align: justify; font-size: 13px;">
      <strong>SEXTA - RESERVA DEL DOMINIO: </strong>EL
      (LOS) SEGUNDO PERMUTANTE (ES) se reserva (n) la propiedad del
      veh&iacute;culo identificado en la cl&aacute;usula primera del presente
      contrato, hasta el momento en que se pague el precio estipulado en su
      totalidad, de conformidad con el Art. 952 del C&oacute;digo de Comercio.
    </p>
    <p style="text-align: justify; font-size: 13px;">
      <strong>S&Eacute;PTIMA - CL&Aacute;USULA PENAL: </strong>: Las partes establecen como sanción
      pecuniaria a cargo de quien incumpla cualquiera de las estipulaciones derivadas de este acto 
      jurídico, la suma del VEINTE PORCIENTO DEL VALOR TOTAL DE ESTE CONTRATO (20%) sin perjuicio 
      de la indemnizacion a que haya lugar.
    </p>
    <p style="font-size: 13px; font-size: 13px;">
    <strong>OCTAVA - GASTOS: </strong>Los gastos que se ocasionen con motivo
      de la firma de esta compraventa serán cubiertos de la siguiente manera. 
    </p>
    <ul style="text-align: justify; font-size: 13px;" class="claus-list">
        {% for clausula in clausulas %}
            <li>
                {{ clausula.texto }}
            </li>
        {% endfor %}
    </ul>
    <p style="text-align: justify; font-size: 13px;" class="primer-espacio">
      <strong>NOVENA - CLAUSULA COMPROMISOR&Iacute;A: </strong>Las partes
      acuerdan que, de existir un conflicto con ocasi&oacute;n a la existencia
      del presente contrato, se obligar&aacute;n las mismas a dirimirlo a
      trav&eacute;s de un &aacute;rbitro designado por la C&aacute;mara de
      Comercio de Bogot&aacute;, quien fallar&aacute; en Derecho. Los gastos
      existentes con ocasi&oacute;n a la activaci&oacute;n de la Cl&aacute;usula
      compromisoria ser&aacute;n asumidos por la parte vencida. 
    </p>
    <p style="text-align: justify; font-size: 13px;">
      <strong>D&Eacute;CIMA.</strong> EL PRIMER PERMUTANTE, en nombre propio o
      en nombre de la entidad que representa, declara que la informaci&oacute;n
      suministrada es ver&iacute;dica y da su consentimiento irrevocable a EL
      SEGUNDO PERMUTANTE, o a quien en un futuro haga sus veces como titular del
      cr&eacute;dito solicitado para: a) Consultar, en cualquier tiempo, en
      DATACR&Eacute;DITO EXPERIAN o en cualquier otra base de datos manejada por
      un operador, toda la informaci&oacute;n relevante para conocer su
      desempe&ntilde;o como deudor, su capacidad de pago, la viabilidad&nbsp;
      para entablar o mantener una relaci&oacute;n contractual y en general para
      la gesti&oacute;n del riesgo financiero y crediticio, esto es, la
      iniciaci&oacute;n, mantenimiento y recuperaci&oacute;n de cartera,
      actividades relacionadas con la prevenci&oacute;n del lavado de activos, y
      financiaci&oacute;n del terrorismo, y prevenci&oacute;n del fraude. b)
      Reportar a DATACR&Eacute;DITO EXPERIAN o a cualquier otra base de datos
      manejada por un operador de datos, tratados o sin tratar, sobre el
      cumplimiento o incumplimiento de las obligaciones crediticias , sus
      deberes legales de contenido patrimonial, sus datos de ubicaci&oacute;n y
      contacto, sus solicitudes de cr&eacute;dito, as&iacute; como otros
      atinentes a sus relaciones comerciales, financieras y en general
      socioecon&oacute;micas que haya entregado o que consten en los registros
      p&uacute;blicos, bases de datos p&uacute;blicas o documentos
      p&uacute;blicos. El reporte de la mencionada informaci&oacute;n
      tendr&aacute; como finalidad que los diferentes usuarios realicen
      actividades relacionadas con la gesti&oacute;n del riesgo financiero y
      crediticio, esto es, la iniciaci&oacute;n, mantenimiento y
      recuperaci&oacute;n de cartera, actividades relacionadas con la
      prevenci&oacute;n del lavado de activos y financiaci&oacute;n del
      terrorismo, prevenci&oacute;n del fraude y los dem&aacute;s autorizados
      por la Ley.
      <strong>PARAGRAFO 1:</strong> La autorizaci&oacute;n concedida por EL PRIMER
      PERMUTANTE, no le impedir&aacute; a este o su representada, a ejercer el
      derecho a corroborar en cualquier tiempo por EL SEGUNDO PERMUTANTE, en
      DATACR&Eacute;DITO EXPERIAN o en la central de riesgo que se hallan
      suministrado los datos, que la informaci&oacute;n suministrada es veraz,
      completa, exacta y actualizada, y en caso que no lo sea, a que se deje
      constancia de su desacuerdo, a exigir la rectificaci&oacute;n y a ser
      informado sobre las correcciones respectivas efectuadas, en constancia de
      haber sido suficientemente informado sobre los efectos de esta
      cl&aacute;usula, se firma el presente contrato y se acepta la presente
      autorizaci&oacute;n.
      
    </p>
    <p style="text-align: justify; font-size: 13px;">
      <strong>D&Eacute;CIMA PRIMERA.</strong> AUTORIZACI&Oacute;N TRATAMIENTO DE
      DATOS- HABEAS DATA.- Conforme a lo dispuesto por la Ley 1580 de 2012, con
      la firma del presente contrato, autorizo al SEGUNDO PERMUTANTE, sus
      filiales, socias y accionistas, as&iacute; como proveedores, el uso y
      tratamiento de mis datos personales conforme a la pol&iacute;tica de
      tratamiento de datos que se puede visualizar en el siguiente link:
      www.taxicupos.com/politica-de-datos para el envi&oacute; de
      informaci&oacute;n comercial y general, manifestando en todo caso la
      aceptaci&oacute;n y conocimiento de la pol&iacute;tica de la empresa con
      la firma del presente contrato.
      
    </p>
    <p style="text-align: justify; font-size: 13px;">
      <strong>D&Eacute;CIMA SEGUNDA.</strong>
      <strong
        >PREVENCI&Oacute;N DE LAVADO DE ACTIVOS Y FINANCIACI&Oacute;N DEL
        TERRORISMO:</strong
      >
      EL PRIMER PERMUTANTE manifiesta bajo la gravedad de juramento, que se
      entiende prestado con la suscripci&oacute;n del presente contrato, que los
      recursos que componen su patrimonio no provienen de lavado de activos,
      financiaci&oacute;n del terrorismo, narcotr&aacute;fico, captaci&oacute;n
      ilegal de dineros y en general de cualquier actividad il&iacute;cita; de
      igual manera manifiesta que los recursos recibidos en desarrollo de
      &eacute;ste contrato, no ser&aacute;n destinados a ninguna de las
      actividades antes descritas. Para efectos de lo anterior, el vendedor
      autoriza expresamente a TAXI CUPOS S.A.S., para que consulte los listados,
      sistemas de informaci&oacute;n y bases de datos a los que haya lugar y, de
      encontrar alg&uacute;n reporte, TAXI CUPOS S.A.S. proceder&aacute; a
      adelantar las acciones contractuales y/o legales que correspondan. EL
      PRIMER PERMUTANTE se obliga a realizar todas las actividades encaminadas a
      asegurar que todos sus socios, administradores, clientes, proveedores,
      empleados, etc., y los recursos de estos, no se encuentren relacionados o
      provengan, de actividades il&iacute;citas, particularmente, de las
      anteriormente enunciadas. 
    </p>
    <p style="text-align: justify; font-size: 13px;">
      <strong>Observaciones: </strong>
      
    </p>
    <ul style="text-align: justify; font-size: 13px;" class="claus-list">
      {% for opcion in opciones %}
        <li>
            {{ opcion.texto }}
        </li>
      {% endfor %}
    </ul>
    <p class="justificado" style="font-size: 13px;">
      En se&ntilde;al de conformidad las partes contratantes suscriben el
      presente documento en la ciudad de Bogot&aacute; D.C, a los {{ dia_letras }}
      ({{ dia }}) d&iacute;as del mes de {{ mes }} del a&ntilde;o {{ year_letras }} ({{ year }})
      . Se extienden dos copias del mismo tenor y
      valor.
    </p>
    <p class="primer-espacio"></p>
    <table id="signature-table">
      <tr class="signes">
        <!-- Vendedor -->
        <td class="signe-cont">
          <div class="content">
            <div>
              <p class="p-footer-table">PRIMER PERMUTANTE</p>
              <br>
                <br>
                <br>
                <p>____________________________________________</p>
              <p><strong>{{ usuario1.nombre }} {{ usuario1.p_apellido }} {{ usuario1.s_apellido }}</strong></p>
              <p>C.C No. {{ usuario1.cedula }} de {{ usuario1.ciudad_exp }}</p>
            </div>
          </div>
          <div class="borde">
            <div class="huella"></div>
            <div class="texto_huella">Huella</div>
          </div>
        </td>
        <!-- Comprador -->
        <td class="signe-cont">
          <div class="content">
            <div>
              <p class="p-footer-table">SEGUNDO PERMUTANTE</p>
              <br>
                <br>
                <br>
                <p>____________________________________________</p>
              <p><strong>{{ usuario2.nombre }} {{ usuario2.p_apellido }} {{ usuario2.s_apellido }}</strong></p>
              <p>C.C No. {{ usuario2.cedula }} de {{ usuario2.ciudad_exp }}</p>
            </div>
          </div>
          <div class="borde">
            <div class="huella"></div>
            <div class="texto_huella">Huella</div>
          </div>
        </td>
        <!-- Comprador 2 (en blanco) -->
        <td class="signe-cont">
          <div class="content">
            <div>
              {% if vendedores == '2' %}
                  <p class="p-footer-table">PRIMER PERMUTANTE</p>
                {% elif compradores == '2' %}
                  <p class="p-footer-table">SEGUNDO PERMUTANTE</p>
                {% else %}
                  <p class="p-footer-table">SEGUNDO PERMUTANTE</p>
                {% endif %}
                <br>
                <br>
                <br>
                <p>____________________________________________</p>
                {% if vendedores == '2' %}
                  <p><strong>{{ usuario3.nombre }} {{ usuario3.p_apellido }} {{ usuario3.s_apellido }}</strong></p>
                  <p>C.C No. {{ usuario3.cedula }} de {{ usuario3.ciudad_exp }}</p>
                {% elif compradores == '2' %}
                  <p><strong>{{ usuario4.nombre }} {{ usuario4.p_apellido }} {{ usuario4.s_apellido }}</strong></p>
                  <p>C.C No. {{ usuario4.cedula }} de {{ usuario4.ciudad_exp }}</p>
                {% else %}
                  <p><strong></strong></p>
                  <p>C.C No. de </p>
                {% endif %}
            </div>
          </div>
          <div class="borde">
            <div class="huella"></div>
            {% if vendedores == '2' %}
                <div class="texto_huella">Huella</div>
                {% elif compradores == '2' %}
                <div class="texto_huella">Huella</div>
                {% else %}
                <div class="texto_huella">Huella</div>
              {% endif %}
          </div>
        </td>
        <!-- Testigo -->
        <td class="signe-cont">
          <div class="content">
            <div>
              <p class="p-footer-table">Testigo</p>
              <br>
                <br>
                <br>
                <p>____________________________________________</p>
              <span class="signature"></span>
              <span class="cc-text">C.C No.</span>
            </div>
          </div>
          <div class="borde">
            <div class="huella"></div>
            <div class="texto_huella">Huella</div>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
