<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet"
    />
    <title>Inicio TC</title>
  </head>

  <body>
    <div class="container">
      <!-- Sidebar Section -->
      <aside>
        <div class="toggle">
          <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Logo" />
            <h2>Taxi<span class="danger">Cupos</span></h2>
          </div>
          <div class="close" id="close-btn">
            <span class="material-icons-sharp">close</span>
          </div>
        </div>

        <div class="sidebar">
          <a href="">
            <span class="material-icons-sharp">dashboard</span>
            <h3>Inicio</h3>
          </a>
          <a href="#">
            <span class="material-icons-sharp">person_outline</span>
            <h3>Usuarios</h3>
          </a>
          <a href="#" class="active">
            <span class="material-icons-sharp">receipt_long</span>
            <h3>Vehículos</h3>
          </a>
          <a href="#">
            <span class="material-icons-sharp">insights</span>
            <h3>Contratos</h3>
          </a>
          <a href="#">
            <span class="material-icons-sharp">mail_outline</span>
            <h3>Informes</h3>
            <span class="message-count">27</span>
          </a>
          <a href="#">
            <span class="material-icons-sharp">inventory</span>
            <h3>Inventario</h3>
          </a>
          <a href="#">
            <span class="material-icons-sharp">report_gmailerrorred</span>
            <h3>Reportes</h3>
          </a>
          <a href="#">
            <span class="material-icons-sharp">settings</span>
            <h3>Configuraciones</h3>
          </a>
          <a href="#">
            <span class="material-icons-sharp">add</span>
            <h3>Crear usuario</h3>
          </a>
          <a href="#">
            <span class="material-icons-sharp">logout</span>
            <h3>Salir</h3>
          </a>
        </div>
      </aside>
      <!-- End of Sidebar Section -->

      <!-- Main Content -->

      <!-- Right Section -->
      <div class="right-section">
        <div class="nav">
          <button id="menu-btn">
            <span class="material-icons-sharp">menu</span>
          </button>
          <div class="dark-mode">
            <span class="material-icons-sharp active">light_mode</span>
            <span class="material-icons-sharp">dark_mode</span>
          </div>

          <div class="profile">
            <div class="info">
              <p>Hey, <b>Reza</b></p>
              <small class="text-muted">Admin</small>
            </div>
            <div class="profile-photo">
              <img
                src="{% static 'images/profile-1.jpg' %}"
                alt="Profile Photo"
              />
            </div>
          </div>
        </div>
        <!-- End of Nav -->

        <div class="user-profile">
          <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Logo" />
            <h2>Usuario</h2>
            <p>Nombre_Usuario</p>
          </div>
        </div>

        <div class="reminders">
          <div class="header">
            <h2>Recordatorios</h2>
            <span class="material-icons-sharp">notifications_none</span>
          </div>

          <div class="notification">
            <div class="icon">
              <span class="material-icons-sharp">volume_up</span>
            </div>
            <div class="content">
              <div class="info">
                <h3>1</h3>
                <small class="text_muted">08:00 AM - 12:00 PM</small>
              </div>
              <span class="material-icons-sharp">more_vert</span>
            </div>
          </div>

          <div class="notification deactive">
            <div class="icon">
              <span class="material-icons-sharp">edit</span>
            </div>
            <div class="content">
              <div class="info">
                <h3>2</h3>
                <small class="text_muted">08:00 AM - 12:00 PM</small>
              </div>
              <span class="material-icons-sharp">more_vert</span>
            </div>
          </div>

          <div class="notification add-reminder">
            <div>
              <span class="material-icons-sharp">add</span>
              <h3>Añadir recordatorio</h3>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Right Section -->
    </div>

    <script src="{% static 'index.js' %}"></script>
  </body>
</html>
