{% extends 'base.html' %}

{% block title %}
    Seleccionar Usuarios, Vehículos y Tipo de Contrato
{% endblock %}

{% block content %}
<div class="recent-orders">
    <div class="vehicle_search">
        <form action="{% url 'vehiculos:generar_pdf' %}" method="get">
            <div>
                <label for="usuario1">Selecciona Usuario 1:</label>
                <input type="text" name="usuario1_cedula" id="usuario1" placeholder="Ingrese la cédula del usuario 1" required>
            </div>

            <div>
                <label for="usuario2">Selecciona Usuario 2:</label>
                <input type="text" name="usuario2_cedula" id="usuario2" placeholder="Ingrese la cédula del usuario 2" required>
            </div>

            <div>
                <label for="vehiculo">Selecciona Vehículo:</label>
                <input type="text" name="vehiculo_placa" id="vehiculo" placeholder="Ingrese la placa del vehículo" required>
            </div>

            <div>
                <label for="tipo_contrato">Selecciona Tipo de Contrato:</label>
                <select name="tipo_contrato" id="tipo_contrato" required>
                    <option value="">Selecciona el tipo de contrato</option>
                    <option value="venta">Venta</option>
                    <option value="Compra_Cupo">Compra Cupo</option>
                    <option value="compra_Particular">Compra Particular</option>
                    <option value="compra_usado">Compra Usado</option>
                    <option value="permuta">Permuta</option>
                    <option value="chatarizacion_con_venta">Chatarrización con venta</option>
                    <option value="servicio_chatarrizacion">Servicio Chatarrización</option>
                    <option value="venta_cupo">Venta Cupo</option>
                    <option value="venta_particular">Venta Particular</option>
                    <option value="venta_usado">Venta Usado</option>
                    <option value="diaco">Diaco</option>
                    <option value="compra_venta">Compra Venta</option>
                    <option value="cmatricula">Cancelacion Matricula</option>
                    <option value="mandato">Mandato</option>
                </select>
            </div>

            <div id="checkboxes" style="display: none;">
                <label>
                    <input type="checkbox" name="mandato"> Mandato
                </label>
                <label>
                    <input type="checkbox" name="fun"> FUN
                </label>
                <label>
                    <input type="checkbox" name="diaco"> Diaco
                </label>
            </div>

            <button type="submit">Generar Contrato PDF</button>
        </form>
    </div>
</div>

<script>
    // Función para mostrar u ocultar los checkboxes
    document.getElementById('tipo_contrato').addEventListener('change', function() {
        var checkboxes = document.getElementById('checkboxes');
        if (this.value !== "") {
            checkboxes.style.display = "block";
        } else {
            checkboxes.style.display = "none";
        }
    });
</script>
{% endblock %}
